div {
    color: aqua;
}

#bluesentence {
    color: black;
    background-color:rgb(9, 126, 203);
    font-size: 40px;
    font-family:cursive;
    font-weight: 900;
    text-align: center;
}

.red {
    font-family: sans-serif;
    text-align: center;
    background-color: red;
}

img {
    width: 1000px;
    height: auto;
}